In [1]:
import pandas as pd
import dotenv
import pathlib as pl

In [2]:
PROJECT_PATH = pl.Path(dotenv.find_dotenv()).absolute().parent
PROJECT_PATH

WindowsPath('C:/Users/yawlc.000/OneDrive/Documents/JOSEPH HUARD-COX/Data_Science_Projects/credit-card-fraud')

In [3]:
df = pd.read_json(PROJECT_PATH.joinpath('data', 'data', 'creditcard_json.json'))
df.head()

,Amount,Class,Time,V1,V10,V11,V12,V13,V14,V15,...,V26,V27,V28,V3,V4,V5,V6,V7,V8,V9
0,149.62,'0',0,-1.359807,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,...,-0.189115,0.133558,-0.021053,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787
1,2.69,'0',0,1.191857,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,...,0.125895,-0.008983,0.014724,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425
2,378.66,'0',1,-1.358354,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,...,-0.139097,-0.055353,-0.059752,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654
3,123.50,'0',1,-0.966272,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,...,-0.221929,0.062723,0.061458,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024
4,69.99,'0',2,-1.158233,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,...,0.502292,0.219422,0.215153,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739

In [4]:
df.dtypes

Amount    float64
Class      object
Time        int64
V1        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V2        float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
dtype: object

In [5]:
df.Class.value_counts(normalize = True)

Class
'0'    0.998273
'1'    0.001727
Name: proportion, dtype: float64

In [6]:
y = df.pop('Class')

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [8]:
le = LabelEncoder()
y = le.fit_transform(y)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
    df, y,
    test_size = 0.2,
    random_state = 71,
    stratify = y
)

In [13]:
standardizer = StandardScaler()

In [14]:
X_train = standardizer.fit_transform(X_train)

In [17]:
df_eda = pd.DataFrame(X_train, columns = df.columns)
df_eda['Class'] = y_train
df_eda.head()

,Amount,Time,V1,V10,V11,V12,V13,V14,V15,V16,...,V27,V28,V3,V4,V5,V6,V7,V8,V9,Class
0,-0.331642,-0.574850,0.636244,0.412677,0.582919,0.271009,-0.841948,-1.081755,-2.192389,0.833888,...,0.191596,0.055118,1.144982,-0.166561,-1.499763,0.238520,-1.371366,0.335603,0.497855,0
1,0.483680,0.762944,0.968332,1.469731,0.401300,0.092147,1.131667,-0.484648,-0.757126,-0.169664,...,-0.028185,-0.054076,-0.724138,-1.157262,-0.843460,0.193089,-0.910211,-0.010403,-1.267603,0
2,-0.247015,-0.152176,-0.183749,0.854441,-0.722513,-0.616203,-0.568741,0.356715,-1.541495,1.347881,...,0.295827,0.446871,0.668057,1.913177,0.898439,0.710987,0.693788,0.190083,-1.699662,0
3,2.724308,-1.119109,0.020952,0.829511,-0.677164,-0.277363,1.029765,-0.682200,-0.499927,-0.748058,...,-0.205102,0.477956,0.002615,-0.376723,-1.785464,-0.269967,-0.102468,-0.281991,-1.389966,0
4,-0.082607,1.307897,-0.334884,-0.031500,0.457424,-0.461243,-0.594846,0.585855,-1.232902,1.692300,...,0.120784,0.272786,-0.321168,-1.587203,0.109743,-0.672186,0.048381,0.299971,-1.359241,0

In [16]:
type(X_train)

numpy.ndarray